.ui.fluid.container#header
  .ui.inverted.menu.header
    .ui.container
      %a.header.item{href: root_path }
        PayrollReporter App

.ui.text.container
  %h1 PayrollReporter
  - unless flash.empty?
    - flash.each do |key, value|
      %div{:class => "#{flash_class(key)} closable"}
        %i.close.icon
        = value

  = simple_form_for TimeReport.new do |f|
    = f.input :file, as: :file, label: 'Upload a time report', required: true
    = f.button :submit, 'Import'

  %h2 Payroll Report
  - if @payroll_report.blank?
    %p No reports available. Please upload a time report to get started.
  - else
    %p
      %strong JSON API
      available at
      %code= "#{payroll_report_url}.json"


    %p
      %a.ui.compact.labeled.icon.button{href: payroll_report_path(format: :csv)}
        %i.file.excel.outline.icon
        Download CSV

    = render partial: @partial, locals: {payroll_report: @payroll_report}
